#name {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

#resume {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    overflow: auto;
    font-size: 0.75rem;
    line-height: 1.45;
    margin-left: 5%;
    margin-right: 5%;
}

.horizontal-line {
    border-top: 1px solid;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#resume a {
    text-decoration: none;
    color: blue;
}
  
#resume a:visited { 
    text-decoration: none;
    color: blue;
}

#resume_header {
    display: flex;
    justify-content: space-between;
}

#contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 85%;
}

#contact p {
}

.prefix_img {
    width: 15px;
    margin-left: 1%;
}

#resume #basic_info p {
    margin-top: 0.6%;
}

#education {
    display: flex;
    margin-left: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#education div {
    margin-top: 1.75%;
}

#cap {
    min-width: 3%;
    max-width: 3%;
    margin-top: 0.75%;
    /* aspect-ratio: 0.76; */
    margin-left: 1%;
    margin-right: 2%;
}

#skills table {
    font-weight: normal;
    border: 0.5px solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

#skills table td, #skills table th {
    font-weight: normal;
    border: 0.5px solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.1);
    width: 20%;
    padding: 8px;
    vertical-align: top;
}

#skills table th {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
}

.block {
    margin-top: 1.5%;
}

.block p {
}

.block ul {
    width: 90%;
    margin-top: 0.75%;
    margin-left: 3%;
}

.block ul li {
    margin-top: 0.5%;
}

.inner_block {
    margin-bottom: 1%;
}

#summary .inner_block, .project_highlight, .award_highlight {
    margin-left: 3%;
    margin-right: 3%;
}

.project_highlight, .award_highlight {
    width: 100%;
}

.block_item {
    display: flex;
    justify-content: space-between;
}

.duration {
    text-align: end;
}

.location {
    margin-top: -0.75%;
    text-align: end;
}

.highlight {
    display: inline-block;
}

.project_highlight {
    display: inline-block;
}

.block_category {
    font-weight: bold;
}

.highlight_inner {
}

#experience .inner_block .block_item .highlight_inner {
}

.bold {
    font-weight: bold;
}

.company {
    display: inline-block;
    font-weight: bold;
}

.after_highlight {
    display: inline-block;
}

.blank {
    font-size: 0.1rem;
    color: white;
}