#name {
    font-size: 3.5rem;
    /* font-weight: bold; */
}

#resume {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    overflow: auto;
}

#resume hr {
    background: transparent;
    border-top: solid 1px #aaa;
    margin-bottom: 1.5%;
}

#resume a {
    text-decoration: none;
    color: blue;
}
  
#resume a:visited { 
    text-decoration: none;
    color: blue;
}

#resume_header {
    display: flex;
    justify-content: space-between;
}

#contact {
    display: flex;
    max-width: 25.5%;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 1.5%;
    /* margin-right: 1%; */
}

#contact ul {
    font-size: 0.8rem;
    list-style-type: none;
}

#contact ul li {
    margin-bottom: 1.5%;
}

#basic_info p {
    font-size: 0.725rem;
}

#education {
    display: flex;
}

#education div {
    margin-top: 1%;
    font-size: 0.65rem;
}

#education div p {
    font-size: 0.65rem;
}

#cap {
    min-width: 5%;
    min-height: 5%;
    max-width: 5%;
    max-height: 5%;
    margin-right: 1%;
}

.prefix_img {
    margin: 0;
    margin-right: 2%;
    min-width: 6%;
    min-height: 6%;
    max-width: 6%;
    max-height: 6%;
}

.block {
    margin: 1%;
    margin-top: 2%;
}

.block p {
    font-size: 0.725rem;
}

.block ul {
    margin-top: 0.5%;
    margin-left: 2.5%;
    font-size: 0.725rem;
}

.inner_block {
    margin-top: 1%;
    margin-bottom: 2%;
}

.block_item {
    display: flex;
    justify-content: space-between;
}

.duration {
    margin-top: 0.5%;
    font-size: 0.725rem;
    text-align: end;
}

.location {
    margin-top: 2%;
    font-size: 0.725rem;
    text-align: end;
}

.highlight {
    display: inline-block;
    font-size: 1rem;
}

.block_category {
    font-size: 1.25rem;
}

.highlight_inner {
    margin-top: 0.1%;
}

.bold {
    font-weight: bold;
}

.after_highlight {
    display: inline-block;
    font-size: 1rem;
}

.blank {
    font-size: 0.02rem;
    color: white;
}