#name {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#resume {
    /* position: fixed; */
    /* top: 0; */
    /* bottom: 0; */
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.95);
    overflow: auto;
}

#resume hr {
    background: transparent;
    border-top: solid 1.5px #aaa;
    margin-bottom: 1%;
}

#resume a {
    text-decoration: none;
    color: blue;
}
  
#resume a:visited { 
    text-decoration: none;
    color: blue;
}

#resume_header {
    display: flex;
    justify-content: space-between;
}

#contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.85rem;
    list-style-type: none;
    width: 85%;
}

#contact p {
    /* padding-right: 0.5px; */
}

.prefix_img {
    width: 15px;
    margin-left: 1%;
}

#resume #basic_info p {
    margin-top: 0.6%;
    font-size: 0.85rem;
}

#education {
    display: flex;
    font-size: 0.7rem;
    margin-left: 0.5%;
    margin-top: 0.5%;
    /* margin-left: 1%; */
}

#education div {
    margin-top: 1.75%;
    line-height: 115%;
}

#cap {
    min-width: 4%;
    max-width: 4%;
    margin-top: 0.75%;
    aspect-ratio: 0.76;
    margin-right: 2%;
}

#skills table {
    border: 0.5px solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

#skills table td, #skills table th {
    border: 0.5px solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.1);
    width: 20%;
    padding: 8px;
}

#skills table th {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
}

.block {
    margin-top: 1.5%;
}

.block p {
    font-size: 0.85rem;
}

.block ul {
    width: 90%;
    margin-top: 1%;
    margin-left: 3.5%;
    font-size: 0.85rem;
}

.block ul li {
    /* margin-top: 0.5%; */
    line-height: 135%;
}

.inner_block {
    margin-bottom: 1%;
}

#summary .inner_block {
    margin-left: 1%;
    line-height: 120%;
}

.block_item {
    display: flex;
    justify-content: space-between;
}

.duration {
    margin-top: 0.75%;
    font-size: 0.85rem;
    text-align: end;
}

.location {
    margin-top: 2.5%;
    font-size: 0.7rem;
    text-align: end;
}

.highlight {
    display: inline-block;
}

.project_highlight {
    display: inline-block;
    font-size: 0.85rem;
}

/* .block_category {
} */

.highlight_inner {
    margin-top: 1%;
}

#experience .inner_block .block_item .highlight_inner {
    margin-top: 0.5%;
    font-size: 0.7rem;
}

.bold {
    font-weight: bold;
}

.company {
    display: inline-block;
    font-weight: bold;
}

.after_highlight {
    display: inline-block;
}

.blank {
    font-size: 0.1rem;
    color: white;
}