#name {
    font-size: 2.5rem;
    font-weight: bold;
}

#resume_header {
    display: flex;
    justify-content: space-between;
}

#contact {
    display: flex;
    max-width: 22.5%;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 1.5%;
    margin-right: 1%;
}

#contact ul {
    font-size: 0.7rem;
    list-style-type: none;
}

#basic_info p {
    font-size: 0.7rem;
}

#education {
    display: flex;
}

#education div p {
    font-size: 0.6rem;
}

#cap {
    min-width: 3%;
    min-height: 3%;
    max-width: 3%;
    max-height: 3%;
    margin-right: 1%;
}

.prefix_img {
    margin: 0;
    margin-right: 2%;
    min-width: 6%;
    min-height: 6%;
    max-width: 6%;
    max-height: 6%;
}

.block {
    margin: 1%;
    margin-top: 2%;
}

.block p {
    font-size: 0.7rem;
}

.block ul {
    margin-top: 0.5%;
    margin-left: 2.5%;
    font-size: 0.7rem;
}

.inner_block {
    margin-top: 0.5%;
}

.block_item {
    display: flex;
    justify-content: space-between;
}

.duration {
    margin-top: 3%;
    font-size: 0.7rem;
}

.location {
    margin-top: 2.5%;
    font-size: 0.7rem;
    float: right;
}


.highlight {
    display: inline-block;
    font-size: 1.15rem;
}

.bold {
    font-weight: bold;
}

.after_highlight {
    display: inline-block;
    font-size: 1.15rem;
}

.blank {
    font-size: 0.02rem;
    color: white;
}