.lock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
}

.border-slicer {
    border-radius: 8px;
    overflow: hidden;
}
  
.lock input, .lock button {
    min-height: 3.2rem;
    max-height: 3.2rem;
}
  
.lock input {
    /* outline: none; */
}
  
.lock button {
    border-radius: 0px;
}