#home {
    display: flex;
    margin-left: -3%;
    margin-right: 1%;
    justify-content: center;
    margin-top: 6%;
    overflow: auto;
    height: 45vw;
}

.content h1 {
    /* margin-top: 1%; */
    display: block;
    text-align: center;
    margin-bottom: 2%;
}
  
.message {
    /* display: flex; */
    /* flex-direction: row; */
    /* width: 75vw; */
}

.content {
    font-size: 125%;
    line-height: 150%;
    min-width: 75%;
    max-width: 75%;
    /* width: 75vw; */
    
    margin-right: 2.5%;
    vertical-align: top;
    padding: 1%;
}

#home .image_block {
    min-width: 15%;
    max-width: 15%;
    margin-top: auto;
    /* margin-bottom: auto; */
}

.image_block .image {
    min-width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    border-radius: 10%;
}
  
#home img:hover{
    opacity: 0.8;
}

#chatroom {
    background-color: rgba(255,255,255,0.12);
    border-radius: 12px;
    margin-top: 1%;
    width: inherit;
    height: 82.5%;
    padding: 2%;
    overflow: auto;
}

#chatroom ul {
    list-style-type: none;
}

#chatroom ul li {
    display: block;
    /* background-color: rgba(255,255,255,0.15); */
    font-size: 1.5rem;
    margin-bottom: -1%;
    overflow: hidden;
    border-radius: 8px;
    padding: 1.5%;
}

#chat_input {
    height: 8%;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
}

.sign_button {
    width: 15%;
    border-radius: 0px;
}

#chat_text_input{
    padding: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-size: 1.1rem;
    width: 79%;
    background-color: rgba(255,255,255,0.33); 
    color: white;
    /* word-wrap: break-word; */
    white-space: nowrap;
}

.photo {
    display: inline-block;
    border-radius: 100%;
    min-width: 3.5vw;
    max-width: 3.5vw;
    margin-bottom: -5%;
}

.content {
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 1%;
    white-space: nowrap;
}

.info { 
}

.text {
    margin-top: 2%;
}

.sender {
    font-weight: bold;
    white-space: nowrap;
}

.created_at {
    font-weight: normal;
    font-size: 1rem;
    white-space: nowrap;
}

.my_chat_text {
    /* text-align: end;
    margin-left: auto;  */
}
 
#send_text_button {
    width: 6%;
    border-radius: 0px;
}

button.sign_button:hover {
    opacity: 0.8;
}

button.send_text_button:hover {
    opacity: 0.8;
}
