#home {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
    margin-top: 10%;
    overflow: auto;
    height: 30vw;
}

.content h1 {
    margin-top: 1%;
    display: block;
    text-align: center;
}
  
.content {
    font-size: 125%;
    line-height: 150%;
    min-width: 65%;
    max-width: 65%;
    
    margin-right: 2.5%;
    margin-left: 0%;
    vertical-align: top;
}

.content .text {
    margin-top: 5%;
}

#home .image_block {
    min-width: 30%;
    max-width: 30%;
}

.image_block .image {
    min-width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    border-radius: 10%;
}
  
#home img:hover{
    opacity: 0.8;
}

#chatroom {
    background-color: rgba(241,243,244,.24);
    border-radius: 12px;
    margin-top: 1%;
    width: inherit;
    height: 82.5%;
}

#chattext {
    margin-top: 2%;
}
