
.header {
  position: fixed;
  width: 100%;
  left: 1%;
  top: 3%;
}

.header ul {
  margin-left: 1%;
  margin-top: 0.25%;
}

.header ul li {
  display: inline;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-right: 2%;
}

#resume_button {
  position: absolute;
  top: 1%;
  right: 2.5%;
}

