.page {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    margin-top: 10%;
    /* overflow: auto; */
}

.content h1 {
    margin-top: 1%;
    display: block;
    text-align: center;
}
  
.content {
    font-size: 150%;
    line-height: 150%;
    /* display: inline-block;  */
    /* min-width: 60%; */
    /* max-width: 60%; */
    
    margin-right: 1.75%;
    vertical-align: top;
}

.content .text {
    margin-top: 5%;
    line-height: 200%;
}

.page .image_block {
    /* display: inline-block;  */
    min-width: 33%;
    max-width: 33%;
}

.image_block .image {
    min-width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    border-radius: 10%;
}
  
.page img:hover{
    opacity: 0.67;
}

@media screen and (max-width: 768px) {
    /* CSS styles for screens smaller than 768px */

    .page {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
    }

    .page h1 {
        font-size: 160%;
    }

    .content {
        margin-top: 1%;
        font-size: 90%;
        line-height: 120%;
        
        margin-right: 1.75%;
    }

    .page .image_block {
        margin-top: 8%;
        min-width: 90%;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}