.page {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    margin-top: 10%;
    overflow: auto;
}

.content h1 {
    margin-top: 1%;
    display: block;
    text-align: center;
}
  
.content {
    font-size: 125%;
    line-height: 150%;
    /* display: inline-block;  */
    min-width: 60%;
    max-width: 60%;
    
    margin-right: 1%;
    vertical-align: top;
}

.content .text {
    margin-top: 5%;
}

.page .image_block {
    /* display: inline-block;  */
    min-width: 25%;
    max-width: 25%;
}

.image_block .image {
    min-width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    border-radius: 10%;
}
  
.page img:hover{
    opacity: 0.67;
}
