* {
  /* box-sizing: border-box; */
  /* margin: 10px; */
  
  font-family: "Lucida Console", "Courier New", monospace;
  /* font-size: 100%; */
  
  padding: 0;
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
}

.root {
}

.button.connect {
  background-color: #1f4bcc;
  color: #87a5ff;

  width: 10%;
  height: 50px;
  border-radius: 10%;
  cursor: pointer;
  font-size: 100%;
  font-weight: bold;

  border: 0;

  float: right;
}

.header {
  margin: 2%;
  /* display: inline-block; */
}

.center {
  text-align: center;
}

/* ul {
  display: inline-block;
} */

ul > li {
  display: inline;
  margin: 1.5%;
  font-weight: bolder;
}

.page {
  /* margin: auto; */
  /* width: 50%; */

  margin: 2%;
  text-align: center;
  /* display: flex; */
}

.content {
  /* font-size: 150%; */
  /* margin: 2%; */
  display: inline-block; 
  text-align: left;
  max-width: 66.7%;
}

.image {
  /* object-fit: cover; */
  max-width: 20%;
  max-height: 20%;
  width: auto;
  height: auto;
  /* padding: 1%; */
  border-radius: 10%;
}

.home {

}

.about {

}

.publication {

}

.quote {

}

.footer {
  margin: 2%;
  /* position: absolute; */
  /* bottom: 0; */
  /* margin-bottom: 1%; */
  /* width: 100%; */
}