* {
  /* box-sizing: border-box; */
  /* margin: 10px; */
  
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 0;
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
}

body {

}

header {
  margin-top: 2%;
}

li {
  display: inline;
  margin: 10px;
}

.center {
}

.page {
  margin: auto;
  width: 65%;
  text-align: center;
  display: flex;
}

.image {
  /* object-fit: cover; */
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 30px;
}

.home {

}

.about {

}

.publication {

}

.quote {

}

.footer {
  /* position: absolute; */
  bottom: 0;
  margin-bottom: 1%;
  width: 100%;
}