* {
  font-family: "Lucida Console", "Courier New", monospace;
  
  padding: 0;
  margin: 0;
  background-color: lightgray;
  /* color: #ffffff; */
}

a {
  text-decoration: none;
  /* font-size: 1.1rem; */
  color: blue;
}

a:visited { 
  text-decoration: none;
  color: blue;
}

a:hover { 
  text-decoration: none; 
  color: lightblue;
}

.button.connect {
  appearance: none;
  background-color: lightblue;
  border: 1px solid rgba(255, 248, 45, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button.connect:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button.connect:hover {
  background-color: lightcyan;
}

.button.connect:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.footer, .header {
  text-align: center;
}

.footer ul li, .header ul li {
  display: inline-block;
  margin: 1.25%;
  font-weight: bolder;
  font-size: 1.15rem;
}

.page {
  text-align: center;
}

.content {
  font-size: 125%;
  line-height: 200%;
  display: inline-block; 
  text-align: left;
  max-width: 60%;
  margin: 1%;
}

.content img {
  min-width: 55%;
  max-width: 55%;

  border-radius: 10%;
  margin: 3%;
}

.content .bimg {
  margin-bottom: 0%;
  margin-top: 3%;
}

.image {
  min-width: 33%;
  max-width: 33%;
  
  width: auto;
  height: auto;
  border-radius: 10%;
}

img:hover{
  opacity: 0.67;
}